<!DOCTYPE html>

{% url 'home' as home %}
{% url 'expenses:expense_home' as expense_home %}
{% url 'recipes:recipe_home' as recipe_home %}

<html lang="en">
<head>
    
    {% block title %}{% endblock title %}
    
</head>
<body>
  {% block navbar %}
  
  <nav>
    <div class="navbar">
      <a href="{{home}}">Home</a>
      <a href="{{expense_home}}">Expense Tracker</a>
      <a href="{{recipe_home}}">Recipe Database</a>
    </div>
  </nav> 
  {% endblock navbar %}

  {% block body_content %}
  {% endblock body_content %}

</body>
</html>