{% extends 'base.html' %}

{% block title %}
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

{% endblock title %}
 
{% block body_content %}
    <p>This is the home page</p>
    <div id="edit-category-button">
        <button type="button" class="btn btn-primary" onclick="loadModalContent()">
            Edit Categories
        </button>

        <!-- Add a message element to display success message -->

        <script>
        // Function to show success message with countdown
        function showSuccessMessageWithCountdownAndCloseModal(message, modalId) {
            const successMessage = document.getElementById('success-message');
            successMessage.textContent = message; // Set the success message
            successMessage.style.display = 'block'; // Show the success message
        
            let secondsLeft = 1; // Countdown duration in seconds
            const countdownElement = document.createElement('span');
        
            const countdownInterval = setInterval(() => {
                secondsLeft--; // Decrement seconds
        
                if (secondsLeft <= 0) {
                    clearInterval(countdownInterval); // Stop countdown
                    $(`#${modalId}`).modal('hide'); // Close the modal
                    window.location.reload(); // Reload the page
                }
            }, 1000); // Update countdown every second
        }

        </script>

        <script>
            // Async function to load edit form content
            async function editCategory(category_id) {
                try {
                    const response = await fetch(`/expenses/budget/edit/${category_id}/`, {
                        method: 'GET',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken')
                        }
                    });
                    const data = await response.text();
                    
                    // Inject the retrieved content into the editCategoryModalBody
                    $('#modalBodyContent').html(data);
                    $('#budgetModal').modal('show');
            
                    // Handle form submission when the form is submitted
                    $('#editBudgetForm').submit(async function(event) {
                        event.preventDefault(); // Prevent the default form submission behavior
            
                        try {
                            const formData = new FormData(this); // Get form data
            
                            const response = await fetch($(this).attr('action'), {
                                method: 'POST',
                                body: formData,
                                headers: {
                                    'X-CSRFToken': getCookie('csrftoken') // Include CSRF token if needed
                                }
                            });
            
                            if (response.ok) {
                                console.log('Edit categories form submitted successfully');
                                window.location.reload();
                                // Optionally, you can reload the page or update UI as needed
                            } else {
                                console.error('Edit categories form submission failed:', response.statusText);
                                // Optionally, you can display an error message to the user
                            }
                        } catch (error) {
                            console.error('Error submitting edit categories form:', error);
                        }
                    });
                } catch (error) {
                    console.error('Error editing category:', error);
                }
            }

            
            // Function to handle form submission
            async function handleSubmission(formId, modalId) {
                try {
                    const form = $(`#${formId}`);
                    const formData = new FormData(form[0]);
            
                    const response = await fetch(form.attr('action'), {
                        method: 'POST',
                        body: formData,
                    });
            
                    if (response.ok) {
                        // Success: reload the modal or update its content
                        //window.location.reload();
                        showSuccessMessageWithCountdownAndCloseModal("Added new category!", "budgetModal");
            
                        // Optionally, hide the modal if desired
                        //modal.modal('hide');
                    } else {
                        // Error: handle the error case
                        console.error('Form submission failed:', response.statusText);
                    }
                } catch (error) {
                    console.error('Error handling form submission:', error);
                }
            }
            
            async function deleteCategory(categoryId) {
                try {
                    // Ask for confirmation before deleting
                    const confirmDelete = window.confirm("Are you sure you want to delete this category?\nYou WILL lose all of your data in this expense category!");
                    
                    // If user confirms deletion
                    if (confirmDelete) {
                        // Perform an AJAX request to delete the category
                        const response = await fetch(`/expenses/budget/delete/${categoryId}/`, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': getCookie('csrftoken')
                            }
                        });
            
                        if (response.ok) {
                            // Handle success (e.g., refresh the page or update UI)
                            //console.log('Category deleted successfully');
                            showSuccessMessageWithCountdownAndCloseModal("Category deleted!", "budgetModal");
                        } else {
                            // Handle errors (e.g., display an error message)
                            console.error('Error deleting category:', response.statusText);
                        }
                    }
                } catch (error) {
                    console.error('Error deleting category:', error);
                }
            }

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Check if this cookie name matches the one we are looking for
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        
            async function loadModalContent() {
                try {
                    const response = await fetch('/expenses/budget/modal/');
                    const data = await response.text();
                    // Append the modal content to the body
                    $('body').append(data);
                    // Show the modal
                    $('#budgetModal').modal('show');
                } catch (error) {
                    console.error('Error loading modal content:', error);
                }
            }

            function updateCurrentDateString(newDateString) {
                currentDateString = newDateString;
            }

        </script>

    </div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <div id="budget-container">
    <script>
        async function fetchDataAndRenderChart() {

            const date = new Date();
            let month = new String(date.getMonth() + 1);
            let year = date.getFullYear();
            let day = new String(date.getDate());
        
            if (month.length == 1) {
                month = "0" + month
            }
        
            if (day.length == 1) {
                day = "0" + day
            }
        
            const nowDate = year + "-" + month + "-" + day;
        
            const response = await fetch(`/budget-chart-data/${nowDate}`);
            const data = await response.json();
            console.log(data.date);
            let datePass = data.date;
        
            // Set the current date to the one received from the server response
            const parts = datePass.split("-");
            const currentYear = parseInt(parts[0]);
            const currentMonth = parseInt(parts[1]);
            const currentDay = parseInt(parts[2]);
        
            const currentDate = new Date(currentYear, currentMonth - 1, currentDay).toISOString().slice(0, 10);
        
            // Define the tooltipFormatter function outside the chart initialization
            let tooltipFormatter = function () {
                var diff = this.points[1].y - this.points[0].y;
                var status = diff > 0 ? 'Over budget' : 'Under budget';
                var absDiff = Math.abs(diff);
        
                return '<b>' + this.x + '</b><br/>' +
                    this.points[0].series.name + ': ' + '$' + this.points[0].y + '<br/>' +
                    this.points[1].series.name + ': ' + '$' + this.points[1].y + '<br/>' +
                    status + ': $' + absDiff;
            };
        
            Highcharts.chart('budget-container', {
                chart: {
                    type: 'bar',
                    events: {
                        //chart buttons go here!
                        render: function () {
                            var chart = this,
                                title = chart.title.element,
                                titleBox = title.getBBox(),
                                buttonSpacing = 10;
        
                            // Clear existing buttons
                            chart.series.forEach(function (series) {
                                if (series.customButton) {
                                    series.customButton.destroy();
                                }
                            });
        
                            function createButtonClickHandler(currentDate, bool) {
                                return function () {
                                    let year = parseInt(currentDate.slice(0, 4));
                                    let month = parseInt(currentDate.slice(5, 7));
                                    let day = parseInt(currentDate.slice(8, 10));
        
                                    if (bool) { // Decrease to the previous month
                                        month--;
                                        if (month === 0) {
                                            month = 12;
                                            year--;
                                        }
                                        else if (month < 0) {
                                            month += 12; // Wrap around to December if month becomes negative
                                            year--;
                                        }
                                    } else { // Increase to the next month
                                        month++;
                                        if (month === 13) {
                                            month = 1;
                                            year++;
                                        }
                                    }
        
                                    // Adjust leading zero for single-digit months or days
                                    const formattedMonth = month < 10 ? "0" + month : month;
                                    const formattedDay = day < 10 ? "0" + day : day;
        
                                    const newDate = `${year}-${formattedMonth}-${formattedDay}`;
        
                                    // Fetch new data for the specified month
                                    fetch(`/budget-chart-data/${newDate}`)
                                        .then(response => response.json())
                                        .then(data => {
                                            chart.update({
                                                title: {
                                                    text: data.title // Update chart title
                                                },
                                                series: [{
                                                    data: data.series[0].data // Updated data for the specified month
                                                }, {
                                                    data: data.series[1].data // Keep actual data unchanged
                                                }]
                                            });
        
                                            // Update currentDate with the new date
                                            datePass = newDate;
                                        });
                                };
                            }
        
        
                            // Add button for minus month attached to the left of the title
                            chart.series[0].customButton = chart.renderer.button('<-', titleBox.x - 70 - buttonSpacing, titleBox.y, createButtonClickHandler(datePass, true)).add();
        
                            // Add button for plus attached to the right of the title
                            chart.series[1].customButton = chart.renderer.button('->', titleBox.x + titleBox.width + 70 + buttonSpacing, titleBox.y, createButtonClickHandler(datePass, false)).add();
                        }
                    }
                },
                title: {
                    text: data.title
                },
                xAxis: {
                    categories: data.categories
                },
                yAxis: {
                    title: {
                        text: 'Dollars'
                    }
        
                },
                plotOptions: {
                    series: {
                        grouping: false
                    },
                },
                tooltip: {
                    shared: true,
                    formatter: tooltipFormatter
                },
                series: data.series
            });
        }
        
        fetchDataAndRenderChart();
        </script>
    </div>


{% endblock body_content %}
