<!-- auth_users/templates/auth_users/login.html -->
{% extends 'base.html' %}

{% block title %}
    <title>Login</title>
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> {% endcomment %}

{% endblock title %}

{% block body_content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>Or you can <a href="{% url 'auth_users:signup' %}" class="btn btn-primary">Sign Up</a> </p>
{% endblock body_content %}