{% extends 'base.html' %}

{% block title %}
    <title>Recipe Book</title>
{% endblock title %}

{% block body_content %}

<form>
    <input type="text" name="q">
    <button>Search</button>
</form>

<a name="add-new-recipe" href="{% url 'recipes:add_recipe'%}">Add Recipe</a>

{% block detail_view %}
{% endblock detail_view %}

{% block search_view %}
{% endblock search_view %}

    {% if not all_search_results %}
<h5>No recipes found. I guess you will go hungry :(</h5>
    {% endif %}

{% for recipe in all_search_results %}
    <h5><a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.title }}</a></h5>
{% endfor %}

{% endblock body_content %}